DISCORD_BOT_ENABLED=true
DISCORD_BOT_TOKEN=your_discord_bot_token
DISCORD_BOT_ALLOWED_CHANNEL_IDS=
DISCORD_BOT_SYNC_GUILD_ID=
DISCORD_BOT_PREFIX=!
TURSO_ENABLED=true
TURSO_DATABASE_URL=libsql://your-database.turso.io
TURSO_AUTH_TOKEN=your_turso_auth_token
DISCORD_WEBHOOK_URL=
FINNHUB_API_KEY=